{% load i18n %}
{% load django_markup %}
{% load core_extras %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

<div class="row">

    {% block basket_billing_informations %}
    <div class="col-md-5 col-sm-12 basket-billing-information-vatin">
        <p>{% trans "Value-Added Tax Identification Number (VATIN)" as tmsg %}{{ tmsg | force_escape }}</p>
        
        <a href="/payment/nau_extensions/basket-billing-information/vatin/?basket_id={{ basket.id }}">{% trans "Edit" as tmsg %}{{ tmsg | force_escape }}</a>
    
        <div class="row-fluid">
            {% if basket.basket_billing_information and basket.basket_billing_information.vatin %}
                <div class="span3">
                    <div class="well well-info">
                        {% trans "Country" as tmsg %}{{ tmsg | force_escape }}: {{ basket.basket_billing_information.country }}
                        <br/>
                        {% trans "VATIN" as tmsg %}{{ tmsg | force_escape }}: {{ basket.basket_billing_information.vatin }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}

    {% block user_addresses %}
    <div class="col-md-5 col-sm-12 basket-billing-information-address">
        <p>{% trans "Billing address" as tmsg %}{{ tmsg | force_escape }}</p>

        <a href="/payment/nau_extensions/basket-billing-information/address/?basket_id={{ basket.id }}">{% trans "Edit" as tmsg %}{{ tmsg | force_escape }}</a>

        <div class="row-fluid">
            {% if basket.basket_billing_information and basket.basket_billing_information.active_address_fields|length > 0 %}
                <div class="span3">
                    <div class="well well-info">
                    {% for field in basket.basket_billing_information.active_address_fields %}
                        {{ field }}<br/>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}

</div>