{% load i18n %}

<a id="receiptLink" href="#" style="display: none;">
    {% trans "Download receipt" as tmsg %}{{ tmsg | force_escape }}
</a>
<script>
    function httpGetAsync(theUrl, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", theUrl, true); // true for asynchronous 
        xmlHttp.send(null);
    }

    httpGetAsync('/payment/nau_extensions/receipt-link/?order_id={{ order.id }}', function( data ) {
        var receiptLink = document.getElementById("receiptLink");

        // update the link to element
        receiptLink.setAttribute('href', data);
        
        // make receipt link visible
        receiptLink.style.display = 'block';

        // Declare a fragment:
        var fragment = document.createDocumentFragment();

        // Append desired element to the fragment:
        fragment.appendChild(receiptLink);

        // Append fragment to desired element:
        document.getElementsByClassName('confirm-message')[0].appendChild(fragment);
    });
</script>