{% extends 'edx/base.html' %}

{% load core_extras %}
{% load i18n %}
{% load django_markup %}
{% load static %}

{% block title %}
    {% trans "Billing information" as tmsg %}{{ tmsg | force_escape }}
{% endblock title %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block content %}
<main id="main-content" aria-label="Checkout" tabindex=-1>
    <div class="basket {% if enable_client_side_checkout %}basket-client-side{% endif %}">
        <div class="container">
            <div id="content-inner">
                <h1>{% trans "VAT Identification Number (VATIN)" as tmsg %}{{ tmsg | force_escape }}</h1>

                {# Fix missing required style #}
                <style>
                    .control-label.required:after {
                        color: #FF0000;
                        content: "*";
                        display: inline-block;
                    }
                </style>

                <div class="well">
                    <form id="update_billing_information" method="post" class="form form-horizontal">
                        {% csrf_token %}
                        <input type="hidden" name="basket_id" value="{{ basket.id }}" />
                        {% include "oscar/partials/form_fields.html" with form=form style='horizontal' %}
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
                                {% trans "or" %} <a href="/basket/">{% trans "cancel" %}</a>.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
